/*Support for @media context*/
.classA {
	background-color: red;
}

.classB {
	float: left;
	background-color: red;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.classA {
		background-color: green;
	}
	.classB {
		background-color: green;
	}
}

