/*Sub Class contexts are work well. level 2*/
.classA .subclassA, .classB {
	background-color: red;
	width: 12px;
	height: 12px;
}

.classB {
	float: left;
}

/*Sub Class contexts are work well. level 3*/
.classC .subclassC .resubclassC, .classB, .classD .subclassD {
	display: none;
}

.classB {
	float: right;
}

.classD .subclassD {
	float: none;
}
