/*父子选择器的情况 2级*/
.classA .subclassA, .classB {
	background-color: red;
	width: 12px;
	height: 12px;
}

.classB {
	float: left;
}

/*父子选择器的情况 3级*/
.classC .subclassC .resubclassC, .classB, .classD .subclassD {
	display: none;
}

.classB {
	float: right;
}

.classD .subclassD {
	float: none;
}
