/*Sub Class contexts are work well. level 2*/
.classA .subclassA {
	background-color: red;
	width: 12px;
	height: 12px;
}

.classB {
	float: left;
	@ref .subclassA;
}

/*Sub Class contexts are work well. level 3*/
.classC .subclassC .resubclassC {
	display: none;
}

.classB {
	float: right;
	@ref .resubclassC;
}

.classD .subclassD {
	float: none;
	@ref .resubclassC;
}
